<nav class="navbar navbar-expand-sm navbar-dark fixed-top">
  <div class="container-xxl">
    <a class="navbar-brand text-light fs-2 fw-bolder" href="#">Film<span class="text-primary">Info</span></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation" (click)="toggleNav()">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" #navbarCollapse id="navbarNav"> <!-- Add class show to expand hambureger menu --> 
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <a class="nav-link text-light" 
          routerLink="/home"
          [routerLinkActiveOptions]="{exact: true}"
          routerLinkActive="active">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-light"
          routerLink="/movies"
          routerLinkActive="active">Movies</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-light"
          routerLink="/watch-list"
          routerLinkActive="active">Watch List</a>
        </li>
        <li class="nav-item" *ngIf="isAuthenticated">
          <button class="btn btn-primary"
          (click)="logout()">Logout</button>
        </li>
      </ul>
    </div>
  </div>
</nav>