<div class="container-xxl">
  <ng-container *ngIf="movie">
    <div class="row mt-5">
      <!-- Movie Thumbnail -->
      <div class="col-lg-6"><img src="{{movie.backdropPath}}"
             alt="{{movie.title}}"
             class="img-fluid rounded w-70 d-block"></div>
      <div class="col-lg-6">
        <!-- Content -->
        <h1 class="mt-3 mt-lg-0"> {{movie.title}} </h1>
        <p class="mt-1 mb-1 fw-light opacity-75">Release Date: {{movie.airDate}}</p>

        <span class="d-flex">
          <p class="fw-light me-1">Genres:</p>
          <p class="fw-light opacity-75 me-1">{{movieGenres}}</p>
        </span>

        <!-- Movie Detail Row -->
        <div class="row mt-4">
          <div class="col-4 detail-border">
            <p class="fw-thin opacity-75 mb-0">Language</p>
            <p class="fw-bolder fs-2 text-primary">{{movie.language}}</p>
          </div>
          <div class="col-4 detail-border">
            <p class="fw-thin opacity-75 mb-0">Rating</p>
            <p class="fw-bolder fs-2 text-primary">{{movie.rating}}/10</p>
          </div>
          <div class="col-4">
            <p class="fw-thin opacity-75 mb-0">Reviews</p>
            <p class="fw-bolder fs-2 text-primary">{{movie.reviews}}</p>
          </div>
        </div>

        <!-- About Section -->
        <h2 class="fw-medium mt-3">About movie</h2>
        <p class="fw-light opacity-75">{{movie.description}}</p>

        <!-- Add to watch list button -->
        <div *ngIf="!isAuthenticated">Authenticate to access Watchlist</div>
        <button class="btn btn-primary mt-1"
                (click)="onAddMovie(movie)"
                [disabled]="!isAuthenticated">Add to Watchlist</button>

      </div>
    </div>

  </ng-container>
  <!-- cast -->

  <h2 class="fw-medium mt-3 mb-2">Cast</h2>

  <swiper [slidesPerView]="2"
          [spaceBetween]="30"
          [navigation]="true"
          [breakpoints]="{
        '640': {
          slidesPerView: 3,
          spaceBetween: 10
        },
        '768': {
          slidesPerView: 4,
          spaceBetween: 40
        },
        '1024': {
          slidesPerView: 6,
          spaceBetween: 50
        }
      }"
          class="mySwiper">
    <ng-template swiperSlide
                 *ngFor="let cast of cast">
      <div *ngIf="cast && cast.imagePath">
        <img src="{{ cast.imagePath }}"
             alt="{{ cast.name }}"
             style="max-width: 9.375rem; width: 100%;">
        <p class="mb-0 mt-2 opacity-50 fw-thin"
           style="font-size: 0.8rem;">{{ cast.charName }}</p>
        <p>{{ cast.name }}</p>
      </div>
    </ng-template>
  </swiper>
</div>
