.btn:focus {
    outline: none;
    box-shadow: none;
}
input:focus {
    outline: none;
    box-shadow: none;
}

.filter-btn{
    opacity: 0.7;
    transition: opacity 0.2s ease-in-out;

    &:hover{
        opacity: 1;
    }
}
  
.movies-card-body{
    border-radius: 10px;
    box-shadow:
        0 2.8px 2.2px rgba(0, 0, 0, 0.034),
        0 6.7px 5.3px rgba(0, 0, 0, 0.048),
        0 12.5px 10px rgba(0, 0, 0, 0.06),
        0 22.3px 17.9px rgba(0, 0, 0, 0.072),
        0 41.8px 33.4px rgba(0, 0, 0, 0.086),
        0 100px 80px rgba(0, 0, 0, 0.12)
}

@media screen and (min-width: 576px) {
    .movies-card-body{
        border-end-end-radius: 10px; 
        border-top-right-radius: 10px; 
        border-end-start-radius: 0; 
        border-top-left-radius: 0; 
    }
}