<div class="container-xxl mt-5 mb-3">
  <div class="col-md-6 d-flex m-auto align-items-center mb-3">
    <!-- Search Form -->
    <form class="d-flex flex-fill" (ngSubmit)="onSubmit()" #searchForm="ngForm">
      <div class="input-group">
        <input type="text"
               class="form-control border-0  bg-secondary"
               placeholder="Search"
               aria-label="search"
               aria-describedby="basic-addon1"
               name="searchInput"
               ngModel
               #searchInput = "ngModel"
               required
               >  
        <button class="btn btn-secondary" type="submit" id="button-addon2" [disabled]="searchInput.invalid">
          <svg xmlns="http://www.w3.org/2000/svg"
               width="16"
               height="16"
               fill="white"
               class="bi bi-search"
               viewBox="0 0 16 16">
            <path
                  d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z" />
          </svg>
        </button>
      </div>
    </form>
  </div>

  <!-- Filter Buttons -->
  <div class="d-flex mb-4 justify-content-center">
    <button type="button" class="btn filter-btn" (click)="filterQuery('now_playing')">Now Playing</button>
    <button type="button" class="btn filter-btn" (click)="filterQuery('popular')">Popular</button>
    <button type="button" class="btn filter-btn" (click)="filterQuery('top_rated')">Top Rated</button>
    <button type="button" class="btn filter-btn" (click)="filterQuery('upcoming')">Upcoming</button>
  </div>

  <p *ngIf="movies && movies.length === 0" class="text-center">No results</p>

  <div class="d-flex justify-content-center flex-md-row flex-column flex-wrap align-items-stretch">
    <div class="d-flex mx-sm-auto align-items-stretch border-0 mb-md-2 mb-3 me-1"
         style="max-width: 550px; width: 100%;"
         *ngFor="let movie of movies">
      <img src="{{movie.posterPath}}"
           class="card-img"
           style="height: auto; max-width: 170px; width: 100%; border-radius: 10px;box-shadow:
           0 2.8px 2.2px rgba(0, 0, 0, 0.034),
           0 6.7px 5.3px rgba(0, 0, 0, 0.048),
           0 12.5px 10px rgba(0, 0, 0, 0.06),
           0 22.3px 17.9px rgba(0, 0, 0, 0.072),
           0 41.8px 33.4px rgba(0, 0, 0, 0.086),
           0 100px 80px rgba(0, 0, 0, 0.12)"
           alt="{{movie.title}}">
      <div class="card-body bg-secondary d-flex flex-column my-2 p-2"
           style="border-end-end-radius: 10px; border-top-right-radius: 10px; box-shadow:
            0 2.8px 2.2px rgba(0, 0, 0, 0.034),
            0 6.7px 5.3px rgba(0, 0, 0, 0.048),
            0 12.5px 10px rgba(0, 0, 0, 0.06),
            0 22.3px 17.9px rgba(0, 0, 0, 0.072),
            0 41.8px 33.4px rgba(0, 0, 0, 0.086),
            0 100px 80px rgba(0, 0, 0, 0.12)">
        <h5 class="card-title">{{movie.title}}</h5>
        <p class="fw-light opacity-75 me-1">{{movie.genres | convertGenres}}</p>
        <p class="card-text mt-0 mb-0">
          <svg width="22"
               height="22"
               viewBox="0 0 35 40"
               fill="none"
               xmlns="http://www.w3.org/2000/svg">
            <path d="M16.0001 23.0267L24.2401 28.0001L22.0534 18.6267L29.3334 12.3201L19.7467 11.5067L16.0001 2.66675L12.2534 11.5067L2.66675 12.3201L9.94675 18.6267L7.76008 28.0001L16.0001 23.0267Z"
                  fill="#FFD912" />
          </svg>

          {{ movie.rating }} / 10
        </p>
        <p class="card-text mb-2">{{movie.airDate}}</p>
        <a [routerLink]="['/movies', movie.id]"
           class="btn btn-primary d-block mt-auto w-50"
           style="min-width:75px">More</a>
      </div>
    </div>
  </div>

  <div class="d-flex justify-content-center mt-3">
    <div class="btn-group m-auto" role="group" aria-label="First group" *ngIf="totalPages && totalPages.length > 1">
      <button type="button" class="btn btn-secondary" *ngFor='let pageNum of totalPages' (click)="loadPage(pageNum)">{{pageNum}}</button>
    </div>  
  </div>

</div>
