<div class="row" *ngIf="movies.length > 0">
    <div class="col d-flex justify-content-center justify-content-sm-start" *ngFor="let movie of movies">
      <div class="card border-0 mb-2" style="width: 18rem;">
        <img src="{{movie.imagePath}}" class="card-img-top" alt="{{movie.title}}">
        <div class="card-body bg-dark d-flex flex-column rounded-bottom">
          <h5 class="card-title">{{movie.title}}</h5>
          <p class="card-text">
              <svg width="22" height="22" viewBox="0 0 35 40" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path
                  d="M16.0001 23.0267L24.2401 28.0001L22.0534 18.6267L29.3334 12.3201L19.7467 11.5067L16.0001 2.66675L12.2534 11.5067L2.66675 12.3201L9.94675 18.6267L7.76008 28.0001L16.0001 23.0267Z"
                  fill="#FFD912" />
              </svg>
    
              {{ movie.rating }} / 10
            </p>
          <p>{{movie.airDate}} ‧ {{movie.genre}} ‧ 120min</p>
          <div class="card-body d-flex justify-content-around p-0">
            <button class="btn btn-danger" (click)="removeMovie(movie)">Remove</button>
            <a [routerLink]="['/movies', movie.id]" class="btn btn-primary mt-auto w-50 align-self-end">More</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  
<p *ngIf="movies.length <= 0" style="text-align: center">Your Watchlist is empty</p>  