/* You can add global styles to this file, and also import other style files */

// Swiper style imports
@import '~swiper/scss';
@import '~swiper/scss/pagination';
@import '~swiper/scss/navigation';

// Font
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700&display=swap');

$font-family-sans-serif: 'Montserrat';

// Colors
$primary: #FFD700;
$secondary: #022C43;
$body-bg: #011824;
$body-color: #F0F0F0;
$text-light: #F0F0F0;
$dark: #011824;
$font-weight-bolder: 500;
$border-radius: 20px;
$spacer: 2rem;

:root{
  --swiper-navigation-size: 25px
}


@import "../node_modules/bootstrap/scss/bootstrap.scss";

// Custom Swiper pagination bullets
.swiper-pagination{
  margin-bottom: 24px;
}

.swiper-pagination-bullet {
    width: 18px;
    height: 3px;
    border-radius: 0;
    text-align: center;
    font-size: 10px;
    color: transparent;
    opacity: 0.7;
    background: $body-color;

    transition: all 0.3s ease-in-out;
  }
  
  .swiper-pagination-bullet-active {
    opacity: 1;
    width: 30px;
    color: #fff;
    background: $primary;
    border: 1px solid $primary;
  }

  .swiper-slide{
      height: 30%;
  }

  .swiper-button-prev, .swiper-button-next{
    color: $primary;
    top: 30%;
  }